.pw-container-active {
    position: fixed;
    z-index: 200;
}

.pw-container-inactive {
    display: none
}

.pw-note {
    display: inline;
    color: #910029;
    font-size: 17px;
    font-weight: 300px;
}

.pw-note-title {
    color: #910029;
    font-weight: 800px;;
}

.pw-password-list {
    color: #910029;
    font-size: 17px;
    font-weight: 300px;
    margin: 10px;
    list-style: none;
}

h3 {
    color: #910029;
    font-weight: bold;
}


.pw-title {
    display: inline;
}

.pw-cancel-sign {
    font-size: 20px;
    margin-left: 60px;
    cursor: pointer;
    color: #910029;
    border: none;
    padding: 0px;
    background: rgb(220,220,220);
}

.pw-cancel-sign:hover {
    background: burlywood;
}


.pw-password-requirements {
    top: 150px;
    left: 55px;
    position: absolute;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
    width: 300px;
    padding: 10px;
    background-color: rgb(220,220,220);
}

